<%- include("partials/header"); -%>
<img class="header-img" src="<%=headerImg%>" alt="<%=title%>" />
<h1><%=title%></h1>
<h4><%=date%></h4>
<div class="body">
  <%content.map(p => { %>
  <p class="paragraph"><%=p%></p>
  <%})%>
</div>
<%- include("partials/footer"); -%>